body{
    background-color: #0d1117;
    display:flex;
    flex-direction: column;
    font-family: 'JetBrains Mono';
}
/* HEADER STYLING */
.header-nav-bar{
    width: 900px;
    margin: 0px auto 100px auto;
}
.header{
    display:flex;
    flex-direction: column;
    font-size: 22px;
    color:#58ff6c;
    text-align: center;
}
.header hr{
    border: 1px solid #58ff6c;
    width: 100%;
}
/* MAIN SECTION STYLING */
.duel-arena-box{
    width: 900px;
    margin: 0px auto 50px auto;
}

.duel-arena{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.player-box{
    display:flex;
    flex-direction: column;
    font-size: 22px;
    color:#7eff9f;
}

.ai-box{
    display:flex;
    flex-direction: column;
    font-size: 22px;
    color:#50cc73;
}

/* DECISIONS STYLING */
.action-buttons-box{
    width: 900px;
    margin: 0px auto 30px auto;
}

.action-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.action-buttons button{
    border: 2px solid #58ff6c;
    border-radius: 4px;
    background-color: transparent;
    color:#58ff6c;
    font-size: 22px;
    padding: 12px 24px;
}

.action-buttons button:hover{
    border-color: #7eff9f;
    color:#7eff9f;
    text-shadow:1px 1px 30px #7eff9f;
}

/* SYSTEM LOG STYLING */

.system-log-box{
    text-align: center;
    background-color: #0b0f0c;
    border-style: solid;
    border-width: 1px;
    border-color: #58ff6c;
    height: 150px;
    width: 900px;
    margin: 0px auto;
}
